html, body {
  height: 100%;
  margin: 0;
  background-color: #393E46;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  color: #4ECCA3;
}

nav {
  background-color: #99b898;
}


.btn-outline-light, .btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #4ECCA3;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -5%;
}

.nav-link {
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  color: #EEEEEE;
}

/* Header Section */
.navbar-brand {
  margin-right: 4%;
}

.logo {
  width: 35px;
  -webkit-filter: drop-shadow(10px 10px 10px #000);
  filter: drop-shadow(10px 10px 10px #000);
}

.title {
  font-size: 1rem;
  font-family: 'Indie Flower', cursive;
  color: rgba(0,0,0,.5);
  margin-bottom: 0;
}

/* Results Section */
#results-display-space {
  height: 60px;
}

.results-text {
  font-size: 1.5rem;
  padding-top: 20px;
}

/* Dices Section */
.dice-container {
  display: inline-block;
  width: 70px;
  margin: 0 3%;
  padding: 0;
}

.player-lable {
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}

.dice-img {
  width: 100%;
  padding: 0;
  margin: 1% auto 0;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  opacity: 0.4;
}

.roll-button {
  font-family: 'Indie Flower', cursive;
  width: 100%;
  font-size: 0.8rem;
  padding: 5% 0;
  margin-top: 3%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* Start Button Section */
#start-button-space {
  padding: 0;
  margin-top: 4%;
}

.start-button {
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  width: 20%;
  padding: 1% 0;
  margin: 0;
  visibility: visible;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.push {
  height: 5%;
}

/* Footer Section */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  height: 60px;
}

.bottom-links {
  flex-direction: row;
}

/* Media Queries */
/* 760px */
@media screen and (min-width: 760px) {
  .nav-bar {
    padding: 10px 40px;
  }

  .navbar-brand {
    margin-right: 30px;
  }

  .logo {
    width: 60px;
  }

  .title {
    font-size: 2rem;
  }

  .nav-link {
    font-size: 1.5rem;
  }

  #results-display-space {
    height: 140px;
  }

  .results-text {
    font-size: 3.5rem;
    padding-top: 70px;
  }

  .dice-container {
    margin: 60px 25px 0;
    width: 120px;
  }

  .player-lable, .roll-button {
    font-size: 1.5rem;
  }

  .roll-button {
    padding: 4px 0;
  }

  #start-button-space {
    margin-top: 50px;
  }

  .start-button {
    font-size: 2.2rem;
    padding: 5px 0;
    width: 200px;
  }

  .footer {
    height: 85px;
  }
}

/* 1100px */
@media screen and (min-width: 1100px) {
  .nav-bar {
    padding: 10px 100px;
  }

  .navbar-brand {
    margin-right: 40px;
  }

  .logo {
    width: 70px;
  }

  .title {
    font-size: 2.5rem;
  }

  #results-display-space {
    height: 165px;
  }

  .results-text {
    font-size: 5rem;
    padding-top: 70px;
  }

  .dice-container {
    width: 180px;
  margin: 70px 30px 0;
  }

  .player-lable, .roll-button {
    font-size: 2rem;
  }

  .dice-img {
    margin-top: 20px;
  }

  #start-button-space {
    margin-top: 60px;
  }

  .start-button {
    font-size: 2.5rem;
    width: 250px;
  }

  .footer {
    height: 100px;
  }
}

/* 1500px */
@media screen and (min-width: 1500px) {
  .nav-bar {
    padding: 10px 200px;
  }

  .navbar-brand {
    margin-right: 50px;
  }

  .logo {
    left: 140px;
  }

  .title {
    font-size: 2.7rem;
  }

  #results-display-space {
    height: 205px;
  }

  .results-text {
    font-size: 7rem;
  }

  .dice-container {
    margin: 90px 50px 0;
    width: 200px;
  }
}

/* 1900px */
@media screen and (min-width: 1900px) {
  .nav-bar {
    padding: 10px 400px;
  }

  .navbar-brand {
    margin-right: 60px;
  }

  .logo {
    width: 90px;
  }

  .title {
    font-size: 3rem;
  }

  .nav-link {
    font-size: 2rem;
  }

  #results-display-space {
    height: 220px;
  }

  .results-text {
    font-size: 8rem;
    padding-top: 80px;
  }

  .dice-container {
    margin: 90px 60px 0;
    width: 250px;
  }

  #start-button-space {
    margin-top: 80px;
  }

  .footer {
    height: 115px;
  }
}
