html, body {
  height: 100%;
  margin: 0;
  background-color: #393E46;
  text-align: center;
}

a:hover {
  text-decoration: none;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 1.3rem;
}

nav {
  background-color: #393E46;
}


#wrapper {
  min-height: 100%;
  margin-bottom: -5%;
}

.nav-link {
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
}

/* Header Section */
.navbar-brand {
  margin-right: 3%;
}

.logo {
  width: 35px;
  -webkit-filter: drop-shadow(10px 10px 10px #000);
  filter: drop-shadow(10px 10px 10px #000);
}

.title {
  font-size: 1.2rem;
  font-family: 'Indie Flower', cursive;
  color: rgba(255, 255, 255, .5);
  margin-bottom: 0;
}

.title:hover {
  color: rgba(255, 255, 255, .75);
}

.middle-container {
  padding: 0 10%;
}

/* Dices Section */


.button-container {
  padding: 9% 0 0;
}

.lable-space {
  height: 30px;
  margin: 0 -15px 0 -15px;
}

.player-lable {
  color: rgba(255, 255, 255, .5);
  font-family: 'Lobster', cursive;
  font-size: 1rem;
  padding: 5% 0 0;
  margin: 0;
}

.player-lable:hover {
  color: rgba(255, 255, 255, .75);
}

.declaration {
  font-size: 1rem;
}

.dice-img {
  width: 100%;
  padding: 0;
  margin: 0;
  opacity: .4;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.play-button {
  font-family: 'Lobster', cursive;
  font-size: .8rem;
  width: 98%;
  height: 35%;
  padding: 0;
  visibility: visible;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.roll-button {
  font-family: 'Lobster', cursive;
  display: inline-block;
  width: 45%;
  height: 45%;
  font-size: .8rem;
  padding: 0;
  margin: 10% 0 0;
  opacity: .4;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.player-1-button {
  margin-right: 2%;
  margin-left: 0;
}

.player-2-button {
  margin-right: 0;
  margin-left: 2%;
}

.btn-info, .btn-info:hover, .btn-info:disabled {
  color: #000000;
}

.btn-info:hover {
  background-color: rgba(73, 212, 234, 1)
}


/* Footer Section */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom-link {
  display: inline-block;
  color: rgba(255, 255, 255, .5);
}

.bottom-link:hover {
  color: rgba(255, 255, 255, .75);
}



/* Media Queries */


@media screen and (min-width: 576px) {

  .middle-container {
    padding-top: 5%;
  }

}

@media screen and (min-width: 768px) {

  .middle-container {
    padding-top: 10%;
  }

}

@media screen and (min-width: 992px) {

  .middle-container {
    padding-top: 15%;
  }

}

@media screen and (min-width: 1200px) {

}
